<%- include('../../../partials/head.ejs') %>


<div class="row">
    <div class="col-md-2">
        <%- include('../../../partials/sidebar.ejs') %> 
    </div>
    <div class="col-md-10 my-5">
           <h5 class="my-3">Edit Your Post</h5>
        <div class="mx-5">
            <form action="/posts/edit/<%= post._id %> " method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="title">Enter Your Post Title</label>
                    <input type="text" name="title" id="title" class="form-control <%= error.title?'is-invalid' : ''%> "  value="<%= post.title %> ">
                    <div class='invalid-feedback'><%=error.title  %> </div>
                </div>
                <div class="form-group">
                    <label for="tiny-mce-post-body">Enter Your Post Body</label>
                    <textarea name="body" id="tiny-mce-post-body" class="form-control <%= error.body? 'is-invalid' : ''%> " <%- post.body %> >
                   </textarea>
                   <div class='invalid-feedback'> <%= error.body %> </div>
                </div>
                <div class="form-group my-3">
                    <label for="tags">Enter Some Tags (Max 10)</label>
                    <input type="text" name="tags" id="tags" class="form-control my-3" placeholder="tag1,tag2,tag3" value =" ">
                </div>
                <% if (post.thumbnail) { %>
                 <label > Post thumbnail</label>
                 <img src="<%= post.thumbnail %>" id="thumbnail" alt="Post Thumbnail" class="img-fluid mb-4">
                <% } %>
                <div class="input-group my-3">
                    <div class="input-group-prepend ">
                        <span class="input-group-text" >Upload</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" name="post-thumbnail" class="custom-file-input">
                        <label for="inputGroupFile" class="custom-file-label">Choose File</label>
                    </div>
                </div>
                <input type="submit" class="btn btn-primary" value="Create Post">
                <a class="btn btn-danger" href="/posts/delete/<%= post._id %> ">Delete Post</a>
            
            </form>
        </div>
            
    </div>
</div>




<%- include('../../../partials/footer.ejs') %>
<script src="https://cdn.tiny.cloud/1/m1qi24qd5fu4lrty6rv45dtvmjaexqldpogvwe8utox2rm30/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<script src="/scripts/tinyMce.js"></script>

<script>
  $('#inputGroupFile').on('change',function(e){
      let filename = e.target.files[0].name
      $(this).next('.custom-file-laber').html(filename)
  })

</script>

</body>

</html>